<div class="col flex flex-column align-items-center mt-5">
    <div>
      <div class="p-field flex flex-column mb-4">
        <label for="currentPassword">Clave actual</label>
        <p-password inputId="currentPassword" feedback="false"></p-password>
      </div>
      <div class="p-field flex flex-column mb-4">
        <label for="newPassword">Clave nueva</label>
        <p-password inputId="newPassword" feedback="false"></p-password>
      </div>
      <div class="p-field flex flex-column mb-4">
        <label for="confirmPassword">Confirmar clave nueva</label>
        <p-password inputId="confirmPassword" feedback="false"></p-password>
      </div>
      <div class="p-field flex flex-column">
        <small>* La clave debe tener como mínimo 8 caracteres. Debe incluir 1 letra mayúscula, 1 letra minúscula, 1 número y 1 carácter especial.</small>
        <p-button label="Cambiar clave" class="p-button-rounded p-button-success mt-3"></p-button>
      </div>
    </div>
</div>